*{
    font-size: 40px;
}
.div{
    width: 400px;
    height: 500px;
    background-color: orange;
    margin: 150px auto;
    border: 5px solid black;
    transition-duration: 2s;
    /* transition-delay: 2s; */
    transition-timing-function: ease-in;
}
.div:hover{
    transform: rotateZ(360deg);
    /* border-radius: 50%; */
    background-color: aqua;
}

.div1{
    width: 400px;
    height: 500px;
    background-color: rgb(103, 67, 0);
    margin: 150px auto;
    border: 5px solid black;
    transform: rotateZ(55deg);
}